<!DOCTYPE html>

<head>
</head>

<html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://ec2-54-165-2-70.compute-1.amazonaws.com/static/global.js"></script>


<div id="showRegister"></div>
<div id="showLogin"></div>
<div id="showLogout"></div>

<h1><a class="title">Bitcoin notify me!</a></h1>

<p>Register</p>
<form action="javascript:register();">
<label class="cred">Email: </label><input type="text" id="email" ><br>
<label class="cred">Password: </label><input type="password" id="password"><br>
<label class="cred">Confirm Password: </label><input type="password" id="confirmPassword"><br>
<input type="submit" value="Submit">
<br>

<div id="showDescription"></div>
<div id="showWelcomeMessage"></div>

</body>
</html>
