<!DOCTYPE html>

<head>
</head>

<html>


<div id="showRegister"></div>
<div id="showLogin"></div>
<div id="showLogout"></div>

<h1><a class="title" href="http://ec2-54-68-227-128.us-west-2.compute.amazonaws.com">Anti-Ebay</a></h1>

<ul>
<li><a class="nav" href="/addListing">Add your listing</a></p>
<li><a class="nav" href="/viewListing">View a listing</a></p>
<li><a class="nav" href="/searchListings">Search listings</a></p>
<li><a class="nav" href="/autoBid">Automatic Bid</a></p>
<li><a class="nav" href="/viewBids">View My Bids</a></p>
</ul>
<br>

<div id="showDescription"></div>
<div id="showWelcomeMessage"></div>

</body>
</html>
