<!DOCTYPE html>
<html>

{% load staticfiles %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static "global.js"%}"></script>

<script type="text/javascript">
function checkIfLoggedIn(){
	var csrftoken = getCookie('csrftoken');
   	var xmlhttp;
	if (window.XMLHttpRequest){// code for IE7+, Firefox, Chrome, Opera, Safari
	  xmlhttp=new XMLHttpRequest();
	} else {// code for IE6, IE5
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
	xmlhttp.onreadystatechange=function(){
		if (xmlhttp.readyState==4 && xmlhttp.status==200){
			var jsonData = JSON.parse(xmlhttp.responseText);
			if(jsonData["success"] != "1"){
				// this means a user is logged in
				$('#showWelcomeMessage').html("Welcome back " + jsonData["success"] + "!");
                                $('#showLogout').html('<p><a class="log" href="/logout/">Logout</a></p>');
			} else {
                                $('#showDescription').html('<p id="desc">A market where the seller bids on the lowest price on a product a buyer is interested in!</p>')
			}
		}
	}
	xmlhttp.open("POST","/checkIfLoggedInJSON/",true);
	xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xmlhttp.setRequestHeader('X-CSRFToken', csrftoken);
	xmlhttp.send();
}

function submitAlert(){
    console.log("enter login");
        var paramsJSON = {};
        paramsJSON['sign'] = document.getElementById("sign").value;
        paramsJSON['priceThreshold'] = document.getElementById("priceThreshold").value;
        paramsJSON['emailAlert'] = document.getElementById("emailAlert").checked;
        paramsJSON['textAlert'] = document.getElementById("textAlert").checked;
        paramsJSON['timeIntervalNum'] = document.getElementById("timeIntervalNum").value;
        paramsJSON['timeIntervalUnit'] = document.getElementById("timeIntervalUnit").value;
        paramsJSON['exchange'] = document.getElementById("exchange").value;
        //console.log(paramsJSON)
        postToUrl("/submitAlertJSON/", paramsJSON, submitAlertCallback);
}

function submitAlertCallback(jsonData){
        if(jsonData["success"] == "1"){
          // this means the user has been registere
          alert("Success!");
          window.location.replace("/loginHome/");
          } else if(jsonData["success"] == "0"){
            alert("Error: Something went wrong");
          } else {
            alert("Fatal error");
        }
}

</script>
<body>
<body onload="javascript:checkIfLoggedIn()">
<div id="showWelcomeMessage"></div>

<form action="javascript:submitAlert();">
<p>Alert me when the price of BTC is </p>
<select name="sign" id="sign">
  <option value="lessThan">Less than (<)</option>
  <option value="greaterThan">Greater than (>)</option>
</select>
than
<input type="text" name="priceThreshold" placeholder="Price" id="priceThreshold">
<br>
via
<input type="checkbox" name="emailAlert" value="email" id="emailAlert">email
<input type="checkbox" name="textAlert" value="text" disabled="disabled" id="textAlert">text 
<br>
every
<input type="text" name="timeIntervalNum" placeholder="Time interval" id="timeIntervalNum">
<select name="timeIntervalUnit" id="timeIntervalUnit">
  <option value="day">day(s)</option>
  <option value="hour">hour(s)</option>
  <option value="minute">minute(s)</option>
</select>
on 
<select name="exchange" id="exchange">
  <option value="coinbase">coinbase</option>
  <option value="bitfinex">bitfinex</option>
  <option value="bitstamp">bitstamp</option>
</select>
<br>
<button type="submit" class="btn btn-default">Submit</button>
</form>

<div id="showLogout"></div>

</body>
</html>
