<!DOCTYPE html>
<html>

{% load staticfiles %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static "global.js"%}"></script>
<script type="text/javascript">
function checkIfLoggedIn(){
	var csrftoken = getCookie('csrftoken');
   	var xmlhttp;
	if (window.XMLHttpRequest){// code for IE7+, Firefox, Chrome, Opera, Safari
	  xmlhttp=new XMLHttpRequest();
	} else {// code for IE6, IE5
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
	xmlhttp.onreadystatechange=function(){
		if (xmlhttp.readyState==4 && xmlhttp.status==200){
			var jsonData = JSON.parse(xmlhttp.responseText);
			if(jsonData["success"] != "1"){
				// this means a user is logged in
				$('#showWelcomeMessage').html("Welcome back " + jsonData["success"] + "!");
                                $('#showLogout').html('<p><a class="log" href="/logout/">Logout</a></p>');
			} else {
                                $('#showDescription').html('<p id="desc">A market where the seller bids on the lowest price on a product a buyer is interested in!</p>')
			}
		}
	}
	xmlhttp.open("POST","/checkIfLoggedInJSON/",true);
	xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xmlhttp.setRequestHeader('X-CSRFToken', csrftoken);
	xmlhttp.send();
}
</script>
<body>
<body onload="javascript:checkIfLoggedIn()">
<div id="showWelcomeMessage"></div>

<form>
<p>Alert me when the price of BTC is </p>
<select>
  <option value="lessThan">Less than (<)</option>
  <option value="greaterThan">Greater than (>)</option>
</select>
than
<input type="text" name="priceThreshold" placeholder="Price">
<br>
via
<input type="checkbox" name="vehicle" value="email">email
<input type="checkbox" name="vehicle" value="text" disabled="disabled">text 
<br>
every
<input type="text" name="timeIntervalNum" placeholder="Time interval">
<select name="timeIntervalUnit">
  <option value="day">day(s)</option>
  <option value="hour">hour(s)</option>
  <option value="minute">minute(s)</option>
</select>
</form>

<div id="showLogout"></div>

</body>
</html>
